<div class="show-banner">
<h2><%= @list.name %></h2>
</div>
<div class="btn-container">
  <button type="button" class="btn btn-success btn-sm">
    <%= link_to 'Add a Movie', new_list_bookmark_path(@list) %><%# (@list) because we need an specif Id - see on show action.%>
  </button>
</div>

<div class="cards-container">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-body">
      <img src="<%= bookmark.movie.poster_url %>" alt="">
        <h5>
          <%= bookmark.movie.title %>
          <p><%= bookmark.movie.rating %>⭐</p>
        </h5>
          <p><%= bookmark.movie.overview %></p>
          <%= link_to 'Delete', bookmark_path(bookmark), method: :delete %>
    </div>
  <% end %>
</div>

<div class="btn-container">
<button type="button" class="btn btn-success btn-sm">
<%= link_to 'Go back to your lists', lists_path %>
</button>
<button type="button" class="btn btn-success btn-sm">
<%= link_to 'Delete List', list_path, method: :delete %>
</button>
</div>
