<h2><%= @list.name %></h2>
<ul>
<% @list.bookmarks.each do |bookmark| %>
  <li>
  <h1><%= bookmark.movie.title %></h1>
  <p><%= link_to 'Delete', bookmark_path(bookmark), method: :delete %></p>
  </li>
<% end %>
</ul>
<%= link_to 'Go back', lists_path %> |
<%= link_to 'Add movie', new_list_bookmark_path(@list) %> |<%# (@list) because we need an specif Id - see on show action.%>
<p><%= link_to 'Delete List', list_path, method: :delete %></p>
