<div class="container">
  <div class="row justify-content-center data-controller='select2'">
    <div class="col-6 mt-5">
      <h2>Add a movie to your list</h2>
      <%= simple_form_for [ @list, @bookmark ] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
      <div class="btn-container">
          <div class="btn-cancel">
            <button type="button" class="btn btn-danger btn-sm">
            <%= link_to 'Cancel', lists_path %>
            </button>
          </div>
       </div>
    </div>
  </div>
</div>
